@* Goes in Views\PersonList\EditorTemplates *@
@using ProjectMayhem.Models
@model Person
    <tr>
        <td>
            @Html.HiddenFor(model => model.PrimaryKey)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.Remove)
        </td>
    </tr>
