@using ProjectMayhem.Models

@model EditLearningDayViewModel

@{
    ViewBag.Title = "Edit Learning Day";
}

<h2>Edit learning day</h2>

@using (Html.BeginForm("EditLearningDay", "Learning", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        </div>
    </div>
    <h3>Topics:</h3>
    <ul>
        @foreach (var topic in Model.Topics)
        {
            <li>
                <div>
                    @topic.Topic.Title
                </div>
            </li>
        }
    </ul>
    <h3>References:</h3>
    <ul>
        @foreach (var reference in Model.References)
        {
            <li>
                <div>
                    <a href="@reference.ReferenceUrl">@reference.ReferenceUrl</a>
                </div>
            </li>
        }
    </ul>
    @Html.HiddenFor(m => m.LearningDayId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Edit" />
        </div>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Request.QueryString["retUrl"]))
        {
            <a href=@Request.QueryString["retUrl"]>Back</a><br>
            @Html.ActionLink("My Schedule", "Schedule", "Learning")
        }
    </div>
}
