@using ProjectMayhem.DbEntities

@model LearningDay

@{
    ViewBag.Title = "Edit Learning Day";
}

<h1>Edit learning day</h1>

@using (Html.BeginForm("EditLearningDay", "Learning", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(model => model);

    <h3>Topics List</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Parent topic</th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.EditorFor(model => Model.Topics)
        </tbody>
    </table>

    <p>
        <input name="command" type="submit" value="Add Topic" />
        <input name="command" type="submit" value="Remove Selected Topics" />
        <input name="command" type="submit" value="Cancel/Refresh" />
    </p>

    <h3>References:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.EditorFor(model => Model.References)
        </tbody>
    </table>
    <p>
        <input name="command" type="submit" value="Add Reference" />
        <input name="command" type="submit" value="Remove Selected References" />
        <input name="command" type="submit" value="Cancel/Refresh" />
    </p>
    <!-- Required to pass learning day ID to the controler method. -->

    @Html.HiddenFor(m => m.LearningDayId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary float-right" value="Save" />
        </div>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Request.QueryString["retUrl"]))
        {
            <a href=@Request.QueryString["retUrl"]>Back</a><br>
            @Html.ActionLink("My Schedule", "Schedule", "Learning")
        }
    </div>
}
